<!DOCTYPE html>
<html>
<head>
	<title>Screening</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
	<body>
		<ul>
		  <li><a class="NEWS" href="#NEWS">NEWS</a></li>
		  <li><a href="#CHAT">CHAT</a></li>
		  <li><a href="#">CONTACT</a></li>
		</ul>
		<div class="blue-box">
			<h1 class="title">COVID-19 Screening Tool</h1>
			<p>
			This tool can help you test out whether their is a probability that you came in contact with corona-virus or not.
			Let’s all look out for each other by knowing our status, trying not to infect others, and reserving care for those in need.
			</p>
			<a href="questions/1.html"><button class="screening-button">Start Screening</button></a>
		</div>
	</body>
</html>